/* articulos del blog */

	/* section que contiene todo el articulo del blog */
	.section_article_blog {
		margin: 15px;
		display: flex;
	}
	
	/* div que adentro tiene la img de referencia */
	.section_article_div_img_blog img{
		width: 45vw;
		height: 400px;
	}

	/* div que incluye el titulo y los textos en los articulos del blog */
	.section_article_div_info_blog {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 30px;
	}

	/* titulo articulos blog */
	.section_article_div_info_blog h2 {
		font-size: var(--tp-tittle-size);
		color: var(--main-color-3);
	}

/* otros post */
	
	aside {
		display: flex;
		justify-content: flex-end;
		padding: 10px 20px;
	}

	aside a {
		color: var(--main-color-3);
	}


/* medoa querys */

	@media (max-width: 900px) {

		.section_article_blog{
		  	display: flex;
		  	flex-direction: column;
		  	justify-content: center;
		  	align-items: center;
		  	}

		.section_article_div_img_blog img{
		  	width: 80vw;
			height: 300px;
		  	}

		.section_article_div_info_blog {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 30px;
			text-align: center;
			}

	}